body {
  font-family: "Playfair Display", serif;
  padding: 0;
  margin: 0;
  height: 100%;
}
/* span {
  height: 100px;
  width: 5px;
  background-color: #fecc01;
  border-radius: 99px;
  margin: 0 20px;
}
 */

.vertical-line {
  border-left: 6px solid #ff5959;
  height: 150px;
  margin-top: 12%;
  margin-right: 10px;
  border-radius: 50px;
}

.stay-focus {
  display: flex;
}

.body-wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}
.top {
  display: flex;
  align-items: center;
}

h1 {
  font-size: 50px;
  font-weight: 600;
}
.top-p{
  margin-bottom: 8px;
}

.text {
  text-align: center;
}

.orange-color {
  color: #ffad5a;
}

.top-section1 {
  width: 50%;
  padding-left: 10%;
}

.top-section2 {
  width: 100%;
  padding-left: 20%;
}

.mission-part {
  display: flex;
}

h2 {
  font-size: 40px;
  font-weight: 900;
}

.mission-picture-size {
  height: 150px;
  width: 150px;
}

.midle-section1 {
  width: 25%;
  background-color: #edf5f6;
  margin-right: 20px;
  margin-left: 10%;
  padding: 30px 10px 30px 30px;
  border-radius: 10%;
}
.midle-section2 {
  width: 25%;
  background-color: #ffeeee;
  margin-right: 25px;
  padding: 30px 10px 30px 30px;
  border-radius: 10%;
}
.midle-section3 {
  width: 25%;
  background-color: #fff4d6;
  padding: 30px 10px 30px 30px;
  border-radius: 10%;
}

.last-section {
  display: flex;
  margin-top: 5%;
}

.last-section-develop-background {
  background-image: url(frontend/shape-1.png);
  background-repeat: no-repeat;
  background-position-x: 5%;
  background-position-y: 75px;
}

.last-section-Global-background {
  background-image: url(frontend/shape-1.png);
  background-repeat: no-repeat;
  background-position: bottom right 70px;
}

#area {
  padding-bottom: 5%;
}

.develop-image {
  width: 50%;
  margin-left: 10%;
  margin-right: 5%;
}

.develop-write {
  padding-top: 3%;
  width: 100%;
  padding-right: 10%;
}
.global-community-write {
  padding-top: 3%;
  width: 100%;
  margin-left: 10%;
  margin-right: 5%;
}

.global-community-image {
  width: 50%;
  padding-right: 10%;
}

.link {
  text-decoration: none;
  color: white;
  background-color: #ff5959;
  padding: 10px 20px;
  border-radius: 5px;
}

p {
  margin-bottom: 5%;
}
.email-section {
  margin-top: 5%;
}

h3 {
  font-size: 25px;
  font-weight: 900;
}

.form {
  display: flex;
  justify-content: center;
}

.input_area {
  width: 712px;
  height: 30px;
  margin-top: 15px;
  border-radius: 10px;
}

.text_area_input {
  width: 712px;
  margin-top: 15px;
  border-radius: 10px;
}

.btn-send {
  background-color: #ff5959;
  border: none;
  padding: 10px;
  color: #ffffff;
  width: 100px;
  border-radius: 5px;
  float: right;
  cursor: pointer;
}
label{
  font-size: 20px;
  font-weight: 400;
}
.btn-send:hover {
  background-color: brown;
  color: #edf5f6;
}

.footer-year {
  color: #ff5959;
}

footer {
  background-color: black;
  color: white;

  height: 150px;
  width: 100vw;
  text-align: center;
}
